<!-- "Enter your account information. You'll have to verify your email and get approved by site administrator to log in." -->
<div class='field'>
  <%= f.label :username %>
  <%= f.text_field :username, :class => 'larger widest' %>
</div>
<div class='field'>
  <%= f.label :email %>
  <%= f.text_field :email, :class => 'larger widest' %>
</div>
<div class='field'>
  <%= f.label :password %>
  <%= f.password_field :password, :class => 'larger widest' %>
</div>
<div class='field'>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, :class => 'larger widest' %>
</div>
<div class='field'>
  <%= f.label :first_name %>
  <%= f.text_field :first_name, :class => 'larger widest' %>
</div>
<div class='field'>
  <%= f.label :last_name %>
  <%= f.text_field :last_name, :class => 'larger widest' %>
</div>